* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #555;
    height: 400px;
    overflow: scroll;
}

.app {
    position: center;
    top: 0;
    width: 650px;
    height: 650px;
    font-family: "Raleway", sans-serif;
}

.tools {
    background: rgb(192, 192, 192);
    position: fixed;
    top: 5px;
    width: 55px;
    height: 100%;
}

.tools-container {
    width: 50px;
    height: 200px;
    background: rgb(192, 192, 192);
    border-width: 2px;
    border-style: outset;
    border-top-color: white;
    border-left-color: white;
    float: left;
    margin: 2px;
    margin-top: 20px;
}

.size {
    position: fixed;
    top: 300px;
    width: 50px;
    background: rgb(192, 192, 192);
    border-width: 2px;
    border-style: inset;
    border-right-color: white;
    border-bottom-color: white;
    border-color: 2px rgb(128, 128, 128);
}

.colors {
    background: rgb(192, 192, 192);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.colorbox {
    background: rgb(192, 192, 192);
    position: relative;
    left: 39px;
    top: 9px;
    margin: 2px;
    height: 30px;
    width: 245px;
}

.btn {
    position: relative;
    overflow: none;
    letter-spacing: 1px;
    border: none;
    bottom: 6px;
    left: 1px;
    width: 13px;
    height: 13px;
}

#pen-color {
    background: red;
}

#pen-color2 {
    background: blue;
}

#pen-color3 {
    background: brown;
}

#pen-color4 {
    background: rgb(150, 16, 105);
}

#pen-color5 {
    background: rgb(145, 29, 48);
}

#pen-color6 {
    background: blue;
}

#pen-color7 {
    background: rgb(159, 185, 10);
}

#pen-color8 {
    background: rgb(13, 228, 13);
}