* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #555;
}

.app {
    position: fixed;
    top: 0;
    width: 650px;
    height: 650px;
    font-family: "Raleway", sans-serif;
}

.tools {
    background: rgb(192, 192, 192);
    position: fixed;
    top: 5px;
    bottom: 0;
    width: 50px;
    height: 100%;
}